.first-bg {
    background-image: url(../img/animesher.com_dark-scenery-gif-1953738.gif);
    background-size: cover;
}

.second-bg {
    background-image: url(../img/anime-road.gif);
    background-size: cover;
}

.text1 {
    padding: 40vh 10%; /* Adjust vertical padding to center the text vertically */
    color: white;
    text-align: center;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    margin-left: 630px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add box shadow */
    transition: box-shadow 0.3s ease; /* Add transition for smooth hover effect */
}

.text1:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); /* Adjust box shadow on hover */
}

.text1 h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.text1 h3 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 15px;
}

.text1 h5 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 0;
}

/* navbar animation */
.slide-right:hover {
    animation: slide 2s ease 0s infinite alternate none;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(50px);
    }
}

.nav {
    overflow: hidden;
    position: fixed;
    top: 40%;
    width: 100%;
}

.slide {
    color: white;
}

.slide:hover {
    color: rgb(217, 176, 255);
    font-size: 30px;
}

.slide-right {
    color: white;
}

.slide-right:hover {
    color: rgb(217, 176, 255);
    font-size: 30px;
}
